@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-style: normal;
}
.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 10px 20px;
}
a {
    text-decoration: none;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
}
li {
    list-style: none;
}
h1 {
    font-family: 'Space Mono';
    font-weight: 700;
}
p {
    font-family: 'Lexend Deca';
    font-weight: 400;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
    .navbar-nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 58px;
        img:hover {
            transition: all 0.7s ease;
            opacity: 0.5;
        }
        .navigation {
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
            a {
                color: #939CAA;
                &:hover {
                    transition: all 0.7s ease;
                    color: #FCB72B;
                }
            }
        }
    }
    button {
        border: 1px solid #FCB72B;
        background: transparent;
        padding: 14px 0;
        &:hover {
            background: #FCB72B;
            color: white;
            transition: all 0.5s ease;
        }
        a {
            padding: 14px 39px;
            color: #FCB72B;
            &:hover {
                color: aliceblue;
                background: #FCB72B;
            }
        }
    }
}
main {
    height: 100%;
    background: url(../images/home-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .main-content {
        padding: 153px 0;
        h1 {
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -2.5px;
            color: #FFFFFF;
        }
    }
}
.page-1 {
    padding: 150px 0;
    .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 65px;
        position: relative;
        .path-1 {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 500px;
        }
        .path-2 {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 500px;
        }
        .img {
            img {
                border-radius: 50%;
            }
        }
        .title {
            width: 600px;
            h1 {
                font-size: 48px;
                line-height: 48px;
                letter-spacing: -2.14286px;
                color: #495567;
                margin-bottom: 24px;
            }
            p {
                font-size: 15px;
                line-height: 25px;
                color: #939CAA;
                margin-bottom: 40px;
            }
            button {
                border: 1px solid #FCB72B;
                background: transparent;
                padding: 14px 0;
                &:hover {
                    background: #FCB72B;
                    color: white;
                    transition: all 0.7s ease;
                }
                a {
                    padding: 14px 39px;
                    color: #FCB72B;
                    &:hover {
                        transition: all 0.7s ease;
                        color: aliceblue;
                        background: #FCB72B;
                    }
                }
            }
        }
    }
}
.page-2 {
    h1 {
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -2.14286px;
        color: #495567;
        margin-bottom: 25px;
    }
    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 150px;
        .card {
            width: 350px;
            text-align: center;
            img {
                margin-bottom: 32px;
            }
            h2 {
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -1.07143px;
                color: #495567;
                margin-bottom: 27px;
            }
            p {
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                color: #939CAA;
            }
        }
    }
}
.footer-top {
    height: 100%;
    background: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 102px 0;
        h1 {
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14286px;
            color: #FFFFFF;
            width: 415px;
        }
        .buttons {
            display: flex;
            gap: 18px;
            a {
                display: flex;
                gap: 11px;
                background: #E5ECF4;
                border-radius: 4px;
                padding: 8px 15px;
                span {
                    font-family: 'Space Mono';
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 15px;
                    letter-spacing: -0.446429px;
                    color: #495567;
                }
                h2 {
                    font-family: 'Space Mono';
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: -0.892857px;
                    color: #495567;
                }
                &:hover {
                    transition: all 0.7s ease;
                    background: #FCB72B;
                }
            }
        }
    }
}
.footer-bottom {
    background: #333A44;
    padding: 10px 0;
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .text {
            display: flex;
            align-items: center;
            gap: 58px;
        }
        img:hover {
            transition: all 0.5s ease;
            opacity: 0.5;
        }
        .navigation {
            display: flex;
            gap: 32px;
            a {
                font-size: 15px;
                line-height: 25px;
                color: #939CAA;
                &:hover {
                    color: #FCB72B;
                    transition: all 0.7s ease;
                }
            }
        }
        .icons {
            a {
                margin-left: 24px;
                &:hover {
                    transition: all 0.7s ease;
                    opacity: 0.5;
                }
            }
        }
    }
}