@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-style: normal;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}

li {
  list-style: none;
}

h1 {
  font-family: "Space Mono";
  font-weight: 700;
}

p {
  font-family: "Lexend Deca";
  font-weight: 400;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0;
}
.navbar .navbar-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 58px;
}
.navbar .navbar-nav img:hover {
  transition: all 0.7s ease;
  opacity: 0.5;
}
.navbar .navbar-nav .navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.navbar .navbar-nav .navigation a {
  color: #939CAA;
}
.navbar .navbar-nav .navigation a:hover {
  transition: all 0.7s ease;
  color: #FCB72B;
}
.navbar button {
  border: 1px solid #FCB72B;
  background: transparent;
  padding: 14px 0;
}
.navbar button:hover {
  background: #FCB72B;
  color: white;
  transition: all 0.5s ease;
}
.navbar button a {
  padding: 14px 39px;
  color: #FCB72B;
}
.navbar button a:hover {
  color: aliceblue;
  background: #FCB72B;
}

main {
  height: 100%;
  background: url(../images/home-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .main-content {
  padding: 153px 0;
}
main .main-content h1 {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}

.page-1 {
  padding: 150px 0;
}
.page-1 .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 65px;
  position: relative;
}
.page-1 .card .path-1 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 500px;
}
.page-1 .card .path-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 500px;
}
.page-1 .card .img img {
  border-radius: 50%;
}
.page-1 .card .title {
  width: 600px;
}
.page-1 .card .title h1 {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin-bottom: 24px;
}
.page-1 .card .title p {
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-bottom: 40px;
}
.page-1 .card .title button {
  border: 1px solid #FCB72B;
  background: transparent;
  padding: 14px 0;
}
.page-1 .card .title button:hover {
  background: #FCB72B;
  color: white;
  transition: all 0.7s ease;
}
.page-1 .card .title button a {
  padding: 14px 39px;
  color: #FCB72B;
}
.page-1 .card .title button a:hover {
  transition: all 0.7s ease;
  color: aliceblue;
  background: #FCB72B;
}

.page-2 h1 {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
  margin-bottom: 25px;
}
.page-2 .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 150px;
}
.page-2 .cards .card {
  width: 350px;
  text-align: center;
}
.page-2 .cards .card img {
  margin-bottom: 32px;
}
.page-2 .cards .card h2 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-bottom: 27px;
}
.page-2 .cards .card p {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939CAA;
}

.footer-top {
  height: 100%;
  background: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer-top .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 102px 0;
}
.footer-top .footer-content h1 {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
  width: 415px;
}
.footer-top .footer-content .buttons {
  display: flex;
  gap: 18px;
}
.footer-top .footer-content .buttons a {
  display: flex;
  gap: 11px;
  background: #E5ECF4;
  border-radius: 4px;
  padding: 8px 15px;
}
.footer-top .footer-content .buttons a span {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.446429px;
  color: #495567;
}
.footer-top .footer-content .buttons a h2 {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.892857px;
  color: #495567;
}
.footer-top .footer-content .buttons a:hover {
  transition: all 0.7s ease;
  background: #FCB72B;
}

.footer-bottom {
  background: #333A44;
  padding: 10px 0;
}
.footer-bottom .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-bottom .footer-content .text {
  display: flex;
  align-items: center;
  gap: 58px;
}
.footer-bottom .footer-content img:hover {
  transition: all 0.5s ease;
  opacity: 0.5;
}
.footer-bottom .footer-content .navigation {
  display: flex;
  gap: 32px;
}
.footer-bottom .footer-content .navigation a {
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.footer-bottom .footer-content .navigation a:hover {
  color: #FCB72B;
  transition: all 0.7s ease;
}
.footer-bottom .footer-content .icons a {
  margin-left: 24px;
}
.footer-bottom .footer-content .icons a:hover {
  transition: all 0.7s ease;
  opacity: 0.5;
}/*# sourceMappingURL=style2.css.map */